<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equipment Type</title>
     <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
    <body>
        <h1>Equipment Type</h1>
        <a href="{% url 'add_equipment_type' %}"><button>Add New Record</button></a>
        <table>
            <tr>
                <th>ID</th>
                <th>UUID</th>
                <th>Name</th>
                <th>Notes</th>
                <th>Last Update</th>
                <th>Last Update By</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for item in object_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.uuid }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.notes }}</td>
                <td>{{ item.last_update }}</td>
                <td>{{ item.last_update_by }}</td>
                <td><a href="{% url 'edit_equipment_type' item.pk %}">Edit</a></td>
                <td><a href="{% url 'delete_equipment_type' item.pk %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>

        <a href="{% url 'myapp' %}"><button>Back</button></a>
    </body>
</html>